.whg-create-new {
  padding: 15px;
}

.whg-create-new h2 {
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}

.whg-create-new input,
.whg-create-new textarea {
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #333;
  outline: none;
  border-radius: 3px;
  width: 100%;
}

.whg-create-new input.missing {
  border: 2px solid red;
}

.whg-create-new .add-featuretype {
  background-color: none;
  color: #4483c4;
  border: none;
  outline: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.whg-create-new .save-to-dataset {
  background-color: #4483c4;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
}

.whg-create-new .save-to-dataset button {
  display: block;
  margin: 8px;
  background: none;
  outline: none;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  padding: 3px 6px;
  border-radius: 3px;
}

.whg-create-new .save-to-dataset select {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}